<html><head><title>JSON Schema Tester</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="json2.js"></script>
<script src="jsl.parser.js"></script>

<!-- codemirror -->
<script src="codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="codemirror/lib/codemirror.css">
<script src="codemirror/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="codemirror/theme/default.css">

<style>
textarea {
border:1px solid #999999;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.CodeMirror {
  border:1px solid #999999;
}
</style>
<script>
function onSuccess(data, textStatus, jqXHR) {
  $("#output").val("Valid!");
}

function onError(data, textStatus, errorThrown) {
  $("#output").val(JSON.parse(data.responseText)["error"]);
}

function validate() {
  try {
    jsl.parser.parse($("#schema").val());
  } catch (e) {
    $("#output").val("Invalid JSON in your schema:\n" + e.message);
    return;
  }

  try {
    jsl.parser.parse($("#sample").val());
  } catch (e) {
    $("#output").val("Invalid JSON in your sample:\n" + e.message);
    return;
  }

  //assume that if they pass jslint, they'll pass json2 parsing
  var schema = JSON.parse($("#schema").val());
  var sample = JSON.parse($("#sample").val());

  $.ajax({
    url: '/test',
    dataType: 'json',
    type: 'POST',
    data: JSON.stringify({"schema": schema, "sample": sample}),
    success: onSuccess,
    error: onError
  });
}

$(function() {
  var opts = {
    mode: "javascript",
    tabMode: "shift",
    enterMode: "keep",
    json: true,
    lineNumbers: true,
    matchBrackets: true,
    electricChars: false
  }
  var schema = CodeMirror.fromTextArea($("#schema")[0], opts);
  var sample = CodeMirror.fromTextArea($("#sample")[0], opts);

  $("#validate").click(function() {
    //clear the output box
    $("output").val("");
    
    //and run the validate function once that's clear
    setTimeout(validate, 4);
  });
});
</script>
</head>
<body>
Schema:<p><textarea rows=20 cols=100 id="schema"></textarea>
<p>
Sample JSON:<p><textarea rows=20 cols=100 id="sample"></textarea>
<p>
<input type="submit" value="validate" id="validate">
<p>
Result:<p><textarea rows=20 cols=100 id="output"></textarea>
</body>
</html>
